html,
body {
  height: 100%;
  font-family: "Roboto";
  font-size: 1em;
  background-color: #424242;
  overflow-x: hidden;
}

body {
  position: relative;
}

.verizon-logo {
  height: auto;
  max-width: 30%;
}

.theo-logo {
  min-width: 30%;
}

.custom-theo-container {
  height: 300px !important;
}

.clickable {
  cursor: pointer;
}

.bg-light-gray {
  background-color: rgb(245, 245, 245);
}

.nav-tabs .nav-link.active {
  border-color: #ffc107 !important;
}

.switch label input:checked + .bmd-switch-track:after {
  background-color: #ffc107;
}

.switch label .bmd-switch-track {
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.26) 0, rgba(0, 0, 0, 0.26) 50%, #ffe083 0, #ffe083);
}

.radio label input[type="radio"]:checked ~ .bmd-radio:before,
label.radio-inline input[type="radio"]:checked ~ .bmd-radio:before {
  background-color: #ffc107;
}

.radio label input[type="radio"]:checked ~ .bmd-radio:after,
label.radio-inline input[type="radio"]:checked ~ .bmd-radio:after {
  border-color: #ffc107;
}
.btn.btn-primary {
  color: #ffe083;
}
.btn.btn-primary:active,
.btn.btn-primary:focus,
.btn.btn-primary:hover {
  color: #ffc107 !important;
}

.is-focused [class^="bmd-label"] {
  color: #ffc107 !important;
}

.is-focused .form-control {
  background-image: linear-gradient(0deg, #ffc107 2px, rgba(0, 150, 136, 0) 0),
    linear-gradient(0deg, rgba(0, 0, 0, 0.26) 1px, transparent 0);
}

_:-ms-fullscreen, :root .theo-verizonmedia-content-notification-thumbnail {
  width:25% !important;
}

.flex-column {display:flex}
.fillViewport {flex-grow:1; flex-shrink:1}

.checkbox-inline, .checkbox label, .is-focused .checkbox-inline, .is-focused .checkbox label, .is-focused .radio-inline,
.is-focused .radio label, .is-focused .switch label, .radio-inline, .radio label, .switch label
{color: rgba(0,0,0,0.7);margin-right: 1px;}
.checkbox-inline:active, .checkbox-inline:focus, .checkbox-inline:hover, .checkbox label:active, .checkbox label:focus,
.checkbox label:hover, .is-focused .checkbox-inline:active, .is-focused .checkbox-inline:focus,
.is-focused .checkbox-inline:hover, .is-focused .checkbox label:active, .is-focused .checkbox label:focus,
.is-focused .checkbox label:hover, .is-focused .radio-inline:active, .is-focused .radio-inline:focus,
.is-focused .radio-inline:hover, .is-focused .radio label:active, .is-focused .radio label:focus,
.is-focused .radio label:hover, .is-focused .switch label:active, .is-focused .switch label:focus,
.is-focused .switch label:hover, .radio-inline:active, .radio-inline:focus, .radio-inline:hover, .radio label:active,
.radio label:focus, .radio label:hover, .switch label:active, .switch label:focus, .switch label:hover
{color: rgba(0,0,0,1);margin-left: 1px;margin-right: 0;}

label[for="ads_skipOffset"] {font-size:1rem !important;color: #6c757d;}
#ads_skipOffset{margin-top: 1rem;}
/* .form {margin-top: 2rem;} */

.liveplayer .vjs-progress-holder.vjs-slider-horizontal,
.liveplayer .vjs-play-control {display:none}
.liveplayer .theo-player-wrapper div {pointer-events:none}
.liveplayer.theo-ad-playing .theo-player-wrapper div {pointer-events:all}
.liveplayer .theo-player-wrapper div.vjs-control-bar {pointer-events:all}

.btn.active-asset {
  background: #ddd;
}

.tab-content {
  background: #ffffff; /* THEOSD-5631 */
}

.theoplayer-ad-overlay-component.theoplayer-ad-skip.theoplayer-ad-skip-countdown, .theoplayer-ad-overlay-component.theoplayer-ad-skip.theoplayer-ad-skip-button {
  padding: 0px 15px; /* THEOSD-5632 */
  line-height: 3em;
  height: 3em;
}

.theoplayer-info {
  position: absolute;
  width: 90%;
  height: auto;
  max-height: 60%;
  margin-left: 5%;
  margin-top: 5%;
  overflow-y: auto;
}
.theoplayer-info .vmp-features .card-body span {
  font-size: 1.25em;
}
.hidden {
  display: none;
}
.card-body {
  color: #212529;
}
#theoplayer-events textarea {
  height: auto;
  width: 100%;
  height: 100px;
}

.badge {
  padding-top: .6em;
  padding-bottom: .6em;
  margin-right: 1em;
  background: black;
}

#verizon-logo {
  background-image: url("../Verizon.png");
  background-repeat: no-repeat;
  background-color: white;
  background-size: contain;
  margin: 0;
  padding: 0 !important;
  min-height: 50px;
}

.tab-content>.active {
  min-height: 250px;
}

.top-bar {
  flex-shrink: 0;
}

#currentVideoQuality {
  margin-right: 20px;
}

.far fa-window-close {
  position: absolute;
  right: 20px;
  top: 16px;
}

#card-title-spacer {
  width: 90%;
}


